<a href="https://colab.research.google.com/github/prachi397/LetsUpgrade_Data-Science/blob/main/DataScienceAssignmentDay_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question-1**

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

1.1.4

**Question-2**

In [12]:
import numpy as np
import pandas as pd
data = np.array(['a', 'b', 'c', 'd', 'e']) 
series = pd.Series(data) 
print(series)

0    a
1    b
2    c
3    d
4    e
dtype: object

**Question-3**

In [14]:
import numpy as np
import pandas as pd
data = np.array(['a', 'b', 'c', 'd', 'e']) 
series = pd.Series(data, index = [1, 2, 3, 4, 5]) 
df = series.to_frame().reset_index() 
print(df)

   index  0
0      1  a
1      2  b
2      3  c
3      4  d
4      5  e

**Question-4**

In [15]:
import seaborn as sns

mpg=sns.load_dataset('mpg')

print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

**Question-5**

In [16]:
import seaborn as sns
import pandas as pd
mpg=sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
a = df.origin.unique()
print(a)

['usa' 'japan' 'europe']

**Question-6**

In [17]:
import seaborn as sns
# importing pandas with alias name
import pandas as pd

# loading the dataset from seaborn
mpg=sns.load_dataset('mpg')

# creating a dataframe
df = pd.DataFrame(mpg)

# Displaying the part from dataframe where cars belong to "usa"
a = df[df['origin'].str.contains("usa")]
print(a)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]